.fullWidthHeader{
	background-color:rgb(200,40,130);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 100%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
}

.halfWidthHeader{
	background-color:rgb(120,30,100);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 49%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.thirdWidthHeader{
	background-color:rgb(80,40,200);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 32%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.quarterWidthHeader{
	background-color:rgb(100,240,30);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 24%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.patternbox{
  background-color: #E5E5F7;
  opacity: 0.4;
  background-image: linear-gradient(0deg, #E5E5F7 50%, #444CF7 50%);
  background-size: 20px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:0px;
  height: 100px;
  width: 100%;
}

.patternbox2{
  background-color: #E5E5F7;
  opacity: 0.4;
  background-image: linear-gradient(to right, #444CF7, #444CF7 10px, #E5E5F7 10px, #E5E5F7 );
  background-size: 20px 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:0px;
  height: 100px;
  width: 100%;
}

.patternbox3{
  background-color: #E5E5F7;
  opacity: 0.4;
  background-image:  repeating-linear-gradient(45deg, #444CF7 25%, transparent 25%, transparent 75%, #444CF7 75%, #444CF7), repeating-linear-gradient(45deg, #444CF7 25%, #E5E5F7 25%, #E5E5F7 75%, #444CF7 75%, #444CF7);
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:0px;
  height: 100px;
  width: 100%;
}

.linearGradientBox{
  background-image: linear-gradient(#ff8a00, #e52e71);
  margin-top: 30px;
  margin-bottom: 30px;
	padding:0px;
  height: 300px;
  width: 300px;
  display:inline-block;
  border-radius: 50%;
}

.radialGradientBox{
  background-image: radial-gradient(#E05800, #00D4E0);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-right: 250px;
	padding:0px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display:inline-block;
}

.conicGradientBox{
  background-image: conic-gradient(#00E008, #E0518E);
  margin-top: 30px;
  margin-bottom: 30px;
	padding:0px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display:inline-block;
}
