.fullWidthHeader{
	background-color:rgb(200,40,130);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 100%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
}

.halfWidthHeader{
	background-color:rgb(120,30,100);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 49%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.thirdWidthHeader{
	background-color:rgb(80,40,200);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 32%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.quarterWidthHeader{
	background-color:rgb(100,240,30);
  margin-top: 10px;
  margin-bottom: 10px;
	padding:0px;
  height: 100px;
  width: 24%;
	box-sizing:border-box;
	text-align:center; /*left, right, center, justify*/
  display:inline-block;
}

.patternbox{
  background-color:rgb(200,40,130);
  margin-top: 10px;
  margin-bottom: 10px;
  padding:0px;
  height: 100px;
  width: 100%;
  box-sizing:border-box;
  text-align:center; /*left, right, center, justify*/
}

.linearGradientBox{
  background-image: linear-gradient(#ff8a00, #e52e71);
  margin-top: 30px;
  margin-bottom: 30px;
	padding:0px;
  height: 200px;
  width: 30%;
  display:inline-block;
}

.radialGradientBox{
  background-image: linear-gradient(#ff8a00, #e52e71);
  margin-top: 30px;
  margin-bottom: 30px;
	padding:0px;
  height: 200px;
  width: 30%;
  display:inline-block;
}
